@CHARSET "UTF-8";
.movie{
    text-align: center;
    margin:50px 20%;
}

.info{
    display: inline-block;
    margin: auto 50px;
}

.tbtn{
	margin:0 auto;
	padding:15px 10px 15px 10px;
    border-radius: 8px;
    display:block;
}